{% extends 'base.html' %}
{% load static %}

{#{% block left %}#}
{#    #}
{#{% endblock %}#}

{% block right %}
    <div class="col-md-9">
                    <!-- Featured Posts (3 boxes at top) -->
        <div class="row mb-4">
            <div class="col-md-4">

                <body>
                <h1>post list</h1>
                <ul>
                {% for post in posts %}
                <div class="card h-100">
                <li>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <a>{{ post.image }}</a>
                    <small>post time: {{ post.created_at }}</small>
                    <small>last updated at: {{ post.updated_at }}</small>
                </li>
                </div>
                {% endfor %}
                </ul>
                </body>
            </div>
        </div>
    </div>
{% endblock %}
